<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="product.app.xmqq.com.myrecycleview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="product.app.xmqq.com.myrecycleview.NormalRecycleListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="product.app.xmqq.com.myrecycleview.PullToRefreshActivity"/>
        <activity android:name="product.app.xmqq.com.myrecycleview.GridPullToRefreshActivity"/>
        <activity android:name="product.app.xmqq.com.myrecycleview.PullToRefreshExpandActivity"/>
        <activity android:name="product.app.xmqq.com.myrecycleview.drag.LinearDragActivity"/>
        <activity android:name="product.app.xmqq.com.myrecycleview.drag.GridDragActivity"/>
        <activity android:name="product.app.xmqq.com.myrecycleview.drag.DynamicDragActivity"/>
        <activity android:name="product.app.xmqq.com.myrecycleview.drag.CustomDragActivity"/>

        <activity android:name=".adapteranimal.AnimationGridActivity"/>
        <activity android:name=".adapteranimal.AnimationListActivity"/>

        <activity android:name=".RecycleGridViewActivity"/>

        <activity android:name=".TreeAdapterViewActivity"/>
    </application>

</manifest>